@font-face {
    font-family: dashboardFont;
    src: url("robotottf/Roboto-Thin.ttf");
}
html{
  height: 100%;
  font-family: dashboardFont;
}
body{
  background-color: #f0f2f5;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
}
.subTitles{
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}
.subTitles a{
  color: #ffffff;
  text-decoration: none;
}
.subTitles:hover{
  background-color: #f0f2f5l;
}
.navigationBar{
  flex: 1.5;
  border: 1px solid black;
  background-color: #1b1c1d;
  color: #fff;
  overflow: auto;
}
.navList{
  padding: 0;
  list-style-type: none;
}
.parentHeader{
  margin: 12px 0;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  padding-left: 10px;
}
.childHeader{
  padding: 4px 0px 4px 40px;
  margin: 4px 0;
  font-size: 12px;
  height: 30px;
  cursor: pointer;
}
.childHeader:hover{
  background-color: #616161;
}
.mainContainer{
  width: 98%;
  height: 96%;
  background-color: #ffffff;
  margin: 1%;
}
